<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">

            <form action="/campgrounds/<%= camps._id %>?_method=PUT" method="POST" class="validated-form" novalidate>
                <div class="my-3">
                    <label for="title" class="form-label">Name Campground</label>
                    <input type="text" name="title" id="title" class="form-control" value="<%= camps.title %>" required>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Location Campground</label>
                    <input type="text" name="location" id="location" class="form-control" value="<%= camps.location %>"
                        required>
                </div>
                <!-- <div class="mb-3">
                    <label for="formFile" class="form-label">Image of the Campground</label>
                    <input class="form-control" type="file" id="formFile">
                </div> -->
                <div class="mb-3">
                    <label for="title" class="form-label">Image Campground</label>
                    <input type="text" name="image" id="image" class="form-control" value="<%= camps.image %>" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price Campground</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" placeholder="0.00" aria-label="Username" id="price"
                            name="price" aria-describedby="price-label" value="<%= camps.price %>" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description Campground</label>
                    <textarea type="text" name="description" id="descfription" class="form-control"
                        required><%= camps.description %></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            <a href="/campgrounds/<%= camps._id %>">Cancel</a>
        </div>
    </div>