<% layout('layouts/boilerplate') %>

    <div id="map" style="width: 100%; height: 500px"></div>
    <h1 class="text-center">All Campgrounds</h1>
    <ul>
        <% for(let camp of camps) { %>
            <div class="card mb-3">
                <div class=" row g-0">
                    <div class="col-md-4">
                        <img src="<%= camp.images[0].url %>" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body m-3">
                            <h5 class="card-title mb-3">
                                <a href="/campgrounds/<%= camp._id %>">
                                    <b>
                                        <%= camp.title %>
                                    </b>
                                </a>
                            </h5>
                            <h6><b>location: <%= camp.location %></b>
                            </h6>
                            <h6><b>price: <%= camp.price %>$ per night</b></h6>
                            <p class="card-text mt-3">
                                <%= camp.description %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <% } %>
    </ul>

    <%- "<script>" %>
        const maptilerApiKey = "<%- process.env.MAPTILER_API_KEY %>";
            const camps = {
            type: "FeatureCollection",
            features: <%- JSON.stringify( camps.map(camp=> ({
                type: "Feature",
                geometry: camp.geometry,
                properties: { popUpMarkup: camp?.properties?.popUpMarkup }
                }))
                ) %>
                };
                <%- "</script>" %>

                    <script src="/js/clusterMap.js"></script>